<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">

<div id="page" layout:fragment="content">
    <div class="container">
        <a type="button" th:href="@{'/dicegames/onedice/throw'}" class="btn btn-success">Throw Dices</a>

        <div class="input-group mt-3 mb-3">
                        
            <div class="input-group-prepend w-50">
                <span class="input-group-text w-100">Victories al Joc d'un Dau</span>
            </div>
            <input class="form-control" type="text" th:value="${player.winPercentageOneDice} + '%'"
                name="winPercentageOneDice" readonly>
        </div>

    </div>
</div>

</html>