<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">

<div id="page" layout:fragment="content">
    <div class="container-md d-flex justify-content-center">
        <div class=" col-md-6">
            <!-- One Dice General Stadistics-->
            <div class="row text-center mt-5 mb-2">
                <h1>Joc d'un Dau</h1>
            </div>
            <h4>Millor Jugador d'un Dau</h4>
            <div class="input-group mt-3 mb-3">
                <div class="input-group-prepend col-7">
                    <span class="input-group-text" th:text="${oneDiceWinner.name}"></span>
                </div>
                <input class="form-control" type="text" th:value="${oneDiceWinner.winPercentageOneDice} + '%'"
                    name="winPercentageOneDice" readonly>
            </div>
            <h4>Pitjor Jugador d'un Dau</h4>
            <div class="input-group mt-3 mb-3">
                <div class="input-group-prepend col-7">
                    <span class="input-group-text" th:text="${oneDiceLoser.name}"></span>
                </div>
                <input class="form-control" type="text" th:value="${oneDiceLoser.winPercentageOneDice} + '%'"
                    name="winPercentageOneDice" readonly>
            </div>
            <h4>Percentatge mitja d'un daus</h4>
            <div class="input-group mt-3 mb-3">
                <div class="input-group-prepend col-7">
                    <span class="input-group-text" >Percentatge mitja victories</span>
                </div>
                <input class="form-control" type="text" th:value="${oneDiceAverage} + '%'"
                    name="winPercentageOneDice" readonly>
            </div>
    
            <!-- Two Dice General Stadistics-->
            <div class="row text-center mt-5 mb-2">
                <h1>Joc de dos daus</h1>
            </div>
            <h4>Millor Jugador de dos daus</h4>
            <div class="input-group mt-3 mb-3">
                <div class="input-group-prepend col-7">
                    <span class="input-group-text" th:text="${twoDiceWinner.name}"></span>
                </div>
                <input class="form-control" type="text" th:value="${twoDiceWinner.winPercentageTwoDice} + '%'"
                    name="winPercentagetwoDice" readonly>
            </div>
            <h4>Pitjor Jugador de dos daus</h4>
            <div class="input-group mt-3 mb-3">
                <div class="input-group-prepend col-7">
                    <span class="input-group-text" th:text="${twoDiceLoser.name}"></span>
                </div>
                <input class="form-control" type="text" th:value="${twoDiceLoser.winPercentageTwoDice} + '%'"
                    name="winPercentagetwoDice" readonly>
            </div>
            <h4>Percentatge mitja de dos daus</h4>
            <div class="input-group mt-3 mb-3">
                <div class="input-group-prepend col-7">
                    <span class="input-group-text" >Percentatge mitja victories</span>
                </div>
                <input class="form-control" type="text" th:value="${twoDiceAverage} + '%'"
                    name="winPercentagetwoDice" readonly>
            </div>
    
            <!-- One Dice General Stadistics-->
            <div class="row text-center mt-5 mb-2">
                <h1>Joc de tres daus</h1>
            </div>
            <h4>Millor Jugador de tres daus</h4>
            <div class="input-group mt-3 mb-3">
                <div class="input-group-prepend col-7">
                    <span class="input-group-text" th:text="${threeDiceWinner.name}"></span>
                </div>
                <input class="form-control" type="text" th:value="${threeDiceWinner.winPercentageThreeDice} + '%'"
                    name="winPercentageThreeDice" readonly>
            </div>
            <h4>Pitjor Jugador de tres daus</h4>
            <div class="input-group mt-3 mb-3">
                <div class="input-group-prepend col-7">
                    <span class="input-group-text" th:text="${threeDiceLoser.name}"></span>
                </div>
                <input class="form-control" type="text" th:value="${threeDiceLoser.winPercentageThreeDice} + '%'"
                    name="winPercentageThreeDice" readonly>
            </div>
            <h4>Percentatge mitja de tres daus</h4>
            <div class="input-group mt-3 mb-5">
                <div class="input-group-prepend col-7">
                    <span class="input-group-text" >Percentatge mitja victories</span>
                </div>
                <input class="form-control" type="text" th:value="${threeDiceAverage} + '%'"
                    name="winPercentageThreeDice" readonly>
            </div>
        </div> 
    </div>
</div>

</html>